@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

body {
    font-family: 'Roboto', arial, helvetica, sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2vh 4vw;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
.header-logo {
    flex-grow: 1;
    color: rgb(78, 77, 77);
    font-weight: bold;
}

.nav-container {
    height: 100%;
    display: flex;
    gap: 3vw;
    justify-content: flex-end;
}
.nav-items, .header-logo {
    text-decoration: none;
    color: rgb(26, 26, 26);
    border-bottom: 2px solid transparent;
}

.nav-items:hover, .nav-items:focus {
    color: rgb(93, 65, 192);
    border-bottom: 2px solid rgb(93, 65, 192);
}